waitress==2.1.2
Flask==2.3.3
Flask-MySQLdb==1.0.1
Flask-HTMLmin
requests
python-dotenv
cryptography
Flask-WTF==1.2.1
nh3==0.2.18
boto3
mysqlclient==2.2.4
flask_sqlalchemy==3.0.2
sqlalchemy
PyMySQL
sentry-sdk[flask]==2.14.0
moviepy