<div class="video">
    <shortid style="display: none;">{{ short.id }}</shortid>

    {% if short.url.startswith('https://') or short.url.startswith('http://') %}
    <video class="video__player" src="{{ short.url }}" loop controls onerror="handleVideoError(this)" preload="auto" controlslist="nofullscreen"></video>
    {% else %}
    <video class="video__player" src="/static/uploads/{{ short.url }}" loop controls onerror="handleVideoError(this)" preload="auto" controlslist="nofullscreen"></video>
    {% endif %}

    <!-- sidebar -->
    <div class="videoSidebar">
        <div class="videoSidebar__button" onclick="like(this)">
            <img src="/static/star-regular.svg" class="like_button_img">
            <p>{{ short.likes }}</p>
        </div>

        <div class="videoSidebar__button" onclick="opencomments(this)">
            <span class="material-icons"> message </span>
            <p>{{ short.id|get_comment_count }}</p>
        </div>

        <div class="videoSidebar__button" onclick="share(this)">
            <span class="material-icons"> share </span>
            <p>{{ short|random_share_num }}</p>
        </div>
    </div>

    <!-- footer -->
    <div class="videoFooter">
        <div class="videoFooter__text">
            {% if short.username %}
            <h3><a href="/users/{{ short.username }}" style="color: white; text-decoration: none;">{{ short.username }}</a></h3>
            {% else %}
            <h3></h3>
            {% endif %}
            <p class="videoFooter__description">{{ short.title }}</p>

            <div class="videoFooter__ticker">
                <span class="material-icons videoFooter__icon"> music_note </span>
                {% if short.username %}
                <marquee>@{{ short.username }}'s sound</marquee>
                {% else %}
                <marquee>Original sound</marquee>
                {% endif %}
            </div>
        </div>
        <img src="https://static.thenounproject.com/png/934821-200.png" alt="" class="videoFooter__record" />
    </div>

    <div class="comments">
        <h2>{{short.title}}</h2>
        <h2>Date Uploaded: {{ short.date_uploaded }}</h2>
        <div class="scroll">
            {% if short.description %}
            <h2>Description:</h2>
            <p>{{ short.description }}</p>
            {% endif %}
            <h2>Comments:</h2>
            {% for comment in short.id|get_comments %}
            <div style="border: 1px solid white; padding: 5px;">
                <p>{{ comment.author|get_username }}</p>
                <p>{{ comment.text }}</p>
            </div>
            {% endfor %}
            <br>
            <a href="/shorts/{{short.id}}/analytics/public">View Public Video Analytics</a>
        </div>
        <p style="position: absolute; bottom: 8%; padding-left: 6px; display: none;" class="msgsenttext">Message Sent! Reload this page to see your comment.</p>
        {% if session.user %}
        <input type="text" placeholder="Type here..." class="comment_input" style="position: absolute; width: 100%; bottom: 0; height: 7%; font-size: large;">
        {% else %}
        <input type="text" disabled placeholder="Sign up to comment on videos" class="comment_input" style="position: absolute; width: 100%; bottom: 0; height: 7%; font-size: large; background: whitesmoke;">
        {% endif %}
    </div>
</div>