<script>
    window.replyto = "";
    var startAt = 3;
    var isFirstReqNewShorts = true;

    function requestNewShorts() {
        if (isFirstReqNewShorts) {
            isFirstReqNewShorts = false;
            return;
        }

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                for (var short of JSON.parse(this.responseText)) {
                const node = document.createElement("div");
                node.classList.add('video');
                node.innerHTML = `
    <shortid style="display: none;">${short["id"]}</shortid>

    <video class="video__player" src="/static/uploads/${short["url"]}" loop controls></video>

    <!-- sidebar -->
    <div class="videoSidebar">
        <div class="videoSidebar__button" onclick="like(this)">
            <img src="/static/star-regular.svg" class="like_button_img">
            <p>${short["likes"]}</p>
        </div>

        <div class="videoSidebar__button" onclick="opencomments(this)">
            <span class="material-icons"> message </span>
            <p>27</p>
        </div>

        <div class="videoSidebar__button" onclick="share(this)">
            <span class="material-icons"> share </span>
            <p>43</p>
        </div>
    </div>

    <!-- footer -->
    <div class="videoFooter">
        <div class="videoFooter__text">
            <h3>${short["username"]}</h3>
            <p class="videoFooter__description">${short["title"]}</p>

            <div class="videoFooter__ticker">
                <span class="material-icons videoFooter__icon"> music_note </span>
                <marquee>Original sound</marquee>
            </div>
        </div>
        <img src="https://static.thenounproject.com/png/934821-200.png" alt="" class="videoFooter__record" />
    </div>

    <div class="comments">
        <h2>${short["title"]}</h2>
        <h2>Date Uploaded: ${short["date_uploaded"]}</h2>
        <div class="scroll">
            <h2>Description:</h2>
            <p>${short["description"]}</p>
            <h2>Comments:</h2>
            <iframe src="/comments/${short["id"]}" style="width:100%;height:75%;"></iframe>
        </div>
        <p style="position: absolute; bottom: 8%; padding-left: 6px; display: none;" class="msgsenttext">Message Sent! Reload this page to see your comment.</p>
        {% if session.user %}
        <input type="text" placeholder="Type here..." class="comment_input" style="position: absolute; width: 100%; bottom: 0; height: 7%; font-size: large;">
        {% else %}
        <input type="text" disabled placeholder="Sign up to comment on videos" class="comment_input" style="position: absolute; width: 100%; bottom: 0; height: 7%; font-size: large; background: whitesmoke;">
        {% endif %}
    </div>
`;

                document.getElementsByClassName("app__videos")[0].appendChild(node);
                ob.observe(node.getElementsByTagName("video")[0]);
                startAt++;
                }
            }
        };
        {% if page == "livefeed" %}
        xmlhttp.open("GET", "/api/live_feed?startat=" + startAt, true);
        {% elif page == "explore" %}
        xmlhttp.open("GET", "/api/explore?startat=" + startAt, true);
        {% endif %}
        xmlhttp.send();
    }

    function like(what) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText == "Success") {
                    what.getElementsByTagName('img')[0].src = "/static/star-solid.svg";
                } else if (this.responseText == "NotLoggedIn") {
                    window.location.href = "/login";
                }
            }
        };
        xmlhttp.open("GET", "/like_post?id=" + what.parentNode.parentNode.getElementsByTagName('shortid')[0].innerText, true);
        xmlhttp.send();
    }

    function comment(what) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText == "Success") {
                    what.getElementsByClassName("msgsenttext")[0].innerText = "Message Sent! Reload this page to see your comment.";
                    what.getElementsByClassName("msgsenttext")[0].style.display = "block";
                } else if (this.responseText == "TooManyComments") {
                    what.getElementsByClassName("msgsenttext")[0].innerText = "Too many comments sent on one video.";
                    what.getElementsByClassName("msgsenttext")[0].style.display = "block";
                } else {
                    console.error("Error commenting on video, response: " + this.responseText);
                }
            }
        };
        if (window.replyto != "") {
            xmlhttp.open("GET", "/send_comment?txt=" + encodeURIComponent(what.getElementsByClassName("comment_input")[0].value) + "&shortid=" + what.getElementsByTagName('shortid')[0].innerText + "&parent=" + window.replyto, true);
        } else {
            xmlhttp.open("GET", "/send_comment?txt=" + encodeURIComponent(what.getElementsByClassName("comment_input")[0].value) + "&shortid=" + what.getElementsByTagName('shortid')[0].innerText, true);
        }
        xmlhttp.send();
    }

    elements = document.querySelectorAll(".like_button_img");

    for (var i = 0; i < elements.length; i++) {
        elem = elements[i];

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText == "true") {
                    elem.src = "/static/star-solid.svg";
                }
            }
        };
        xmlhttp.open("GET", "/if_liked_post?id=" + elem.parentNode.parentNode.parentNode.getElementsByTagName('shortid')[0].innerText, false);
        xmlhttp.send();
    }


    function share(what) {
        if (navigator.share) {
            navigator.share({
                title: "I like this video",
                text: "Come look a this video",
                url: "{{ request.host_url }}shorts/" + what.parentNode.parentNode.getElementsByTagName('shortid')[0].innerText
            })
                .then(() => console.log('Successful share'))
                .catch(error => console.log('Error sharing:', error));
        } else {
            alert("{{ request.host_url }}shorts/" + what.parentNode.parentNode.getElementsByTagName('shortid')[0].innerText);
        }
    }

    function opencomments(what) {
        if (currentcommentsdiv.style.display == "none") {
            currentcommentsdiv.style.display = "block";
        } else {
            currentcommentsdiv.style.display = "none";
        }
    }
</script>

<script>
    var currentcommentsdiv;

    var options = {
        root: document.querySelector('.app__videos'),
        rootMargin: '0px',
        threshold: 1.0
    };

    var ob = new IntersectionObserver((entries, observer) => {
        console.log(entries[0].isIntersecting);
        if (!entries[0].isIntersecting) {
            entries[0].target.pause();
            entries[0].target.muted = true;

            currentcommentsdiv = entries[0].target.parentNode.getElementsByClassName("comments")[0];
            currentcommentsdiv.style.display = "none";

            requestNewShorts();
        }
        else {
            entries[0].target.currentTime = 0;
            entries[0].target.muted = false;
            entries[0].target.play();
            
            currentcommentsdiv = entries[0].target.parentNode.getElementsByClassName("comments")[0];
            currentcommentsdiv.style.display = "none";


            entries[0].target.parentNode.getElementsByClassName("comment_input")[0].addEventListener('keyup', function onEvent(e) {
                if (e.keyCode === 13) {
                    console.log('Enter');
                    comment(entries[0].target.parentNode);
                }
            });
        }
    }, options);

    document.querySelectorAll('video').forEach((item) => {
        ob.observe(item);
    });


    const videos = document.querySelectorAll('video');

    for (const video of videos) {
        video.addEventListener('click', function () {
            console.log('clicked');
            if (video.paused) {
                video.play();
            } else {
                video.pause();
            }
        });
    }

    const interval = setInterval(function() {
        if (currentcommentsdiv.getElementsByTagName("iframe")[0].contentWindow.location.hash != "") {
            var replyto = currentcommentsdiv.getElementsByTagName("iframe")[0].contentWindow.location.hash.slice(1);
            console.log(replyto);
            currentcommentsdiv.getElementsByClassName("comment_input")[0].placeholder = "Type here... (replying to " + replyto + ")";
            window.replyto = replyto;
        } else {
            window.replyto = "";
            currentcommentsdiv.getElementsByClassName("comment_input")[0].placeholder = "Type here...";
        }
    }, 500);
</script>