<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    top: 48px;
    }

    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .show {display: block;}
</style>

<div class="topnav">
    <a><b style="font-size: 17.1px;">Vidzy</b></a>
    <div class="topnav-right">
        {% if logged_in %}
        <a href="/upload">Upload</a>
        <button onclick="openUserDropdown()" class="dropbtn">{{ session.username }}</button>
        {% else %}
        <a href="/login">Login</a>
        <a href="/register">Sign Up</a>
        {% endif %}
    </div>
    <div class="search-container">
        <form action="/search">
            <input type="text" placeholder="Search.." name="q">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<div id="myDropdown" class="dropdown-content">
    <a href="/users/{{ session.username }}">My Profile</a>
    <a href="/settings">Settings</a>
    {% if logged_in %}
    {% if session["user"]["is_admin"] == 1 %}
    <a href="/admin">Admin Panel</a>
    {% endif %}
    {% endif %}
    <a href="/logout">Sign Out</a>
</div>

<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidenav {
        height: calc(100% - 48px);
        width: 200px;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a:not(#special) {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover:not(#special) {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px;
        /* Same as the width of the sidenav */
        font-size: 28px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    #bottomnav {
        display: none;
    }

    @media only screen and (max-width: 720px) {
        .sidenav {
            display: none;
        }

        #bottomnav {
            display: block;
        }
    }

    #popular-tags-container {
        padding: 15px;
        margin-top: 20px;
        background-color: #1a1a1a;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transform: translateY(40%);
    }

    #popular-tags-container h3 {
        color: #f1f1f1;
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    #popular-tags-container ul {
        padding-left: 0;
    }

    #popular-tags-container li {
        color: #f1f1f1;
        font-size: 14px;
        padding: 10px;
        margin: 5px 0;
        border-radius: 8px;
        background-color: #333;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #popular-tags-container li:hover {
        background-color: #575757;
    }
</style>

<div class="sidenav">
    {% if logged_in %}
    <a href="/">For You</a>
    {% else %}
    <a href="/">Explore</a>
    {% endif %}
    <a href="/livefeed">Live Feed</a>
    {% if logged_in %}
    <a href="/explore">Explore</a>
    <a href="/users/{{ session.username }}">My Profile</a>
    <a href="/settings">Settings</a>
    {% endif %}
    {% if logged_in %}
    {% if session["user"]["is_admin"] == 1 %}
    <a href="/admin">Admin Panel</a>
    {% endif %}
    {% endif %}
    <div style="bottom: 0; position: absolute; padding: 5px;">
        <a id="special" href="/about">About</a>
        <br><br>
        <a id="special" href="https://github.com/vidzy-social/vidzy">View source code</a>
        <br><br>
        <p style="font-size: 13px;">{{VIDZY_VERSION}}</p>
    </div>
    <div id="popular-tags-container" style="padding: 15px; color: #333;">
        <!-- Popular tags will be inserted here by JS -->
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  position: fixed;
  bottom: 0;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}
</style>
<body>

<div class="icon-bar" id="bottomnav">
  <a href="/"><i class="fa fa-home"></i></a>
  <a href="/livefeed"><i class="fa fa-globe"></i></a>
  <a href="/explore"><i class="fa fa-hashtag"></i></a>
  {% if logged_in %}
  <a href="/users/{{ session.username }}"><i class="fa fa-user"></i></a>
  <a href="/settings"><i class="fa fa-gear"></i></a>
  {% else %}
  <a href="/login"><i class="fa fa-user"></i></a>
  <a href="/register"><i class="fa fa-user-plus"></i></a>
  {% endif %}
</div>

<script>
    function openUserDropdown() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }




function fetchPopularTags() {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/api/get_most_popular_tags", true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
            var tags = JSON.parse(xhr.responseText);
            displayPopularTags(tags);
        }
    };
    xhr.send();
}

function displayPopularTags(tags) {
    var container = document.getElementById('popular-tags-container');
    
    var header = document.createElement('h3');
    header.textContent = 'Most Popular Tags';
    container.appendChild(header);

    var tagList = document.createElement('ul');
    
    tags.forEach(function(tag) {
        var listItem = document.createElement('li');
        var link = document.createElement('a');
        link.href = "/tags/" + encodeURIComponent(tag["tag"].substring(1)); // Removes the "#"
        link.textContent = tag["tag"];
        link.style.padding = '1px';
        link.style.fontSize = '14px';
        link.style.textDecoration = 'none';
        link.style.color = 'white';

        link.onmouseover = function() {
            link.style.color = '#4CAF50';
        };
        link.onmouseout = function() {
            link.style.color = 'white';
        };

        listItem.style.listStyleType = 'none';
        listItem.style.borderBottom = '1px solid #ddd';
        listItem.appendChild(link);
        tagList.appendChild(listItem);
    });
    
    container.appendChild(tagList);
}

window.onload = fetchPopularTags;
</script>